{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout des données</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
</head>
<body>


    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Ajout des Biens</h3>
                <div class="card">

                    <form class="form-card" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="row justify-content-between text-left">
                            {{form.as_p}}      
                             <div class="form-group col-sm-6">
                                <input type="submit" class="btn-block btn-primary" value="Ajouter">
                                <a href="{% url 'Biens:biens' %}" class="btn btn-danger">Revenir</a>

                            </div>      
                        </div>
                       
                    </form>

                </div>
        </div>
    </div>
    
    <script>
        window.onload = function() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        document.getElementById("id_latitude").value = position.coords.latitude;
                        document.getElementById("id_longitude").value = position.coords.longitude;
                    },
                    function(error) {
                        let message;
                        switch(error.code) {
                            case error.PERMISSION_DENIED:
                                message = "Vous avez refusé l'accès à la géolocalisation.";
                                break;
                            case error.POSITION_UNAVAILABLE:
                                message = "La position est indisponible.";
                                break;
                            case error.TIMEOUT:
                                message = "Le délai d'obtention de la position est dépassé.";
                                break;
                            default:
                                message = "Une erreur inconnue est survenue.";
                        }
                        alert("Erreur de géolocalisation : " + message);
                    },
                    { timeout: 10000 } // Timeout après 10 secondes
                );
            } else {
                alert("La géolocalisation n'est pas supportée par votre navigateur.");
            }
        };
        
    </script>
    <script src="{% static 'script.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>